.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-summary-section {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}
.product-card {
  border: 4px solid var(--secondary-accent-color);
  box-shadow: 4px 4px 10px 0 var(--secondary-accent-color);
  padding: 3em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.titleitems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pc-item {
  width: 50%;
  padding: 1.5em;
}
.pc-item:nth-child(1) {
  background-color: #c2ff99;
}
.pc-item:nth-child(2) {
  background-color: #f7d7dc;
}

.pros-cons {
  display: flex;
  max-width: 80em;
  /* column-gap: 0.5em; */
  /* border: 4px solid var(--secondary-accent-color); */
  /* box-shadow: 4px 4px 10px 0 var(--secondary-accent-color); */
  /* padding: 3em; */
  /* border-radius: 2em; */
  font-family: "IBM Plex sans";
  background-color: #fff;
}
.info-section {
  display: flex;
  justify-content: center;
}
.info-blurb {
  text-align: center;
  max-width: 60em;
  font-family: var(--default-font);
  font-weight: 500;
  padding: 2em 0 2em 0;
  font-size: 20px;
}
.procon-title {
  font-weight: 700;
  font-size: 18px;
}

.prodTitle {
  font-family: var(--default-font);
  font-size: 20px;
  padding-right: 1em;
}

/* Spinner */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--primary-color-dark);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  font-family: var(--default-font);
  font-weight: 700;
  color: var(--primary-color-dark);
}

/* Email entry bar */
/* .emailsender-container {
  width: 100%;
} */
input[type="text"] {
  margin: 0.5em 0;
  width: 80%;
}
.emailsender {
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.emailTerm {
  border: 4px solid var(--secondary-accent-color);
  border-right: none;
  padding: 8px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  outline: none;
  color: var(--primary-color-dark);
}
.emailSendButton {
  width: 64px;
  height: 64px;
  border: 4px solid var(--secondary-accent-color);
  border-left: 0;
  text-align: center;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  background-color: #fff;
  color: var(--primary-color-dark);
}
.emailSendButton:hover {
  background: var(--secondary-accent-color);
  color: #fff;
}

@media (max-width: 600px) {
  .pros-cons {
    flex-direction: column;
  }
}