.header-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  background: var(--primary-color-dark);
}

.text-title {
  font-style: normal;
  font-family: var(--default-font);
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 50px;
  line-height: 71px; 
}